/* * {
  outline: 1px solid red;
} */

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
}

.branding {
  color: #354463;
  font-size: 0.625rem;
  display: flex;
  flex-direction: column;
}

.branding > h1 {
  width: 13ch;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1.5rem;
  background: #c1f7d5;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  color: #354463;
}

.stop {
  font-family: flood-std, sans-serif;
}
.stop > h1 {
  font-weight: lighter;
  width: 10ch;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: auto;
  align-self: center;
  padding-bottom: 1rem;
}
.container > h3 {
  padding: 0.5rem 1rem;
  background-color: #354463;
  color: #fff;
  font-weight: lighter;
  margin: 0;
  translate: 0 -1rem;
}
.container > h4 {
  color: #354463;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}
.container > p {
  width: 17ch;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #354463;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 1rem;
}

.box > h4 {
  margin: 0;
  font-size: 0.8rem;
  color: #fff;
}

.box > p {
  margin: 0;
  margin-top: 1rem;
  color: #fff;
  font-size: 0.6rem;
  width: 18ch;
}

.box > img {
  height: 20%;
  width: 15%;
  margin: 0.5rem 0;
}

/* header section */
header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.left-head {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.right-head {
  flex-grow: 1;
}

.left-head > .branding {
  flex-grow: 1;
}
.left-head > nav {
  flex-grow: 1;
  align-self: flex-end;
}

.right-head > button {
  width: 100%;
}

.left-head > nav > ul > li {
  text-align: right;
}
.left-head > nav > ul > li > a {
  text-decoration: none;
  line-height: 1.75rem;
  color: #354463;
}

/* // main starts here  */
/* main section starts here  */
main {
}

/* intro  */
#intro {
  background: url("../assets/about-us/annie-spratt-427339-unsplash.png")
    no-repeat;
  background-color: #354463;
  opacity: 1;
  background-size: cover;
  background-position: -29rem;
  display: flex;
  flex-direction: column;
  height: 600px;
}
#intro > .stop {
  margin: 1.5rem 1rem;
  color: #fff;
}

#intro > .container {
  margin-top: 8rem;
  background-color: #fff;
}

/* mission section starts here  */
#mission {
  padding: 2rem;
  background-color: #354463;
}

#mission > .container > h3 {
  background-color: #fff;
  color: #354463;
}

#mission > .container > p {
  color: #fff;
  width: 29ch;
}
.motto {
  display: flex;
  flex-wrap: wrap;
}

#team {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#team > .container > p {
  font-size: 0.75rem;
  width: 35ch;
  margin-top: 1rem;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: auto;
}
.team-members > .box {
  margin: 0;
}
.team-members > .box > img {
  height: auto;
  width: 128px;
  margin: 0;
}

.box > div {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  background-color: #354463;
}

.box > div > h3 {
  margin: 0;
  font-size: 0.8rem;
  /* color: #fff; */
  width: 15ch;
  margin-bottom: 0.5rem;
}
/* impact section starts here  */
#impact {
  padding: 3rem;
  background: url("../assets/about-us/Impact\ Background.png") no-repeat;
  background-color: #354463;
  background-size: cover;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#impact > .container > h3 {
  background-color: #fff;
  color: #354463;
}

#impact > .container > p {
  color: #fff;
  width: 30ch;
}

.impact-numbers > .box > h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  font-weight: lighter;
}
.impact-numbers > .box > p {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
}

/* action section starts here  */

#action {
  padding: 2rem;
  background-color: #354463;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#action > h1 {
  color: #fff;
  font-weight: lighter;
  text-align: center;
  width: 13ch;
  font-size: 2.5rem;
  margin-bottom: 7.5rem;
}

#action > .container {
  background-color: #fff;
}
#action > .container > .bg-image {
  width: 100%;
  height: 14rem;
  background: url("../assets/about-us/Image.png") no-repeat;
  background-size: cover;
  translate: 0 -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#action > .container > .bg-image > h3 {
  background: #fff;
  color: #354463;
  padding: 0.5rem 2rem;
  width: 5ch;
  font-weight: lighter;
  font-size: 1rem;
  translate: 0 -2rem;
}
#action > .container > h2 {
  text-align: center;
  color: #354463;
  width: 20ch;
  margin-top: 0;
}
#action > .container > p {
  text-align: center;
  color: #354463;
  font-size: 1rem;
  width: 23ch;
  font-weight: lighter;
}
#action > .container > button {
  width: 50%;
  color: #354463;
  font-weight: bold;
  margin-top: 1.5rem;
}

/* newsletter starts here  */
#newsletter {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #c1f7d5;
}

#newsletter > .container > h1 {
  color: #354463;
  width: 26ch;
  font-size: 1.3rem;
}
.container > form {
  display: flex;
}

.container > form > input {
  border-radius: 100px;
  border: none;
  margin-right: 1rem;
  padding: 0 0.75rem;
}

.container > form > button {
  width: auto;
  background-color: #354463;
  color: #c1f7d5;
  font-weight: bold;
  padding: 0 1rem;
  font-size: 0.75rem;
}

/* footer starts here  */

footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5rem;
  color: #354463;
}

footer > .branding {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

footer > .branding > h1 {
}

#contact {
  flex-basis: 50%;
}
#contact > h4 {
  margin: 0;
}
#contact > p {
  margin: 0;
  width: 16ch;
}

#follow {
  flex-basis: 50%;
}
#follow > h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

#learn-more {
  flex-basis: 50%;
}

#learn-more > h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
ul > li > a {
  color: #354463;
}

footer > .stop {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
  line-height: 2.5rem;
}

@media only screen and (min-width: 450px) {
  .left-head {
    flex-basis: 40%;
  }
  .right-head {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 1rem;
  }
  .left-head > .branding {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .left-head > nav > ul {
    display: flex;
    justify-content: space-between;
  }
  .left-head > nav > ul > li {
    font-size: 0.75rem;
  }

  .right-head > button {
    width: auto;
  }

  #intro > .container {
    width: 80%;
    height: 25%;
  }
  #intro > .container > h3 {
    translate: -99% -1.5rem;
  }
  #intro > .container > p {
    width: 35ch;
  }

  #mission > .container {
    width: 100%;
    height: 25%;
    margin-top: 2rem;
  }
  #mission > .container > h3 {
    translate: -80% -1.5rem;
  }
  #mission > .container > p {
    width: 45ch;
    text-align: left;
  }

  #mission > .motto > .box {
    flex-basis: 33.33%;
  }

  #team > .container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2.5rem;
  }
  #team > .container > h3 {
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
  }
  #team > .container > h4 {
    width: 15ch;
    translate: -4rem 2rem;
  }

  #team > .container > p {
    translate: 0rem 2rem;
  }

  .team-members > .box {
    width: 5%;
  }
  .team-members > .box > div {
    flex-direction: row;
    width: 70%;
    height: 1%;
    translate: 2rem -1rem;
  }
  .team-members > .box > img {
    height: auto;
    width: 225px;
    margin: 0;
  }
  #impact > .container {
    width: 100%;
  }
  #impact > .container > p {
    width: 45ch;
  }
  #impact > .impact-numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .impact-numbers > .box {
    flex-basis: 40%;
    margin-left: 1rem;
  }
  #action > h1 {
    width: 20ch;
    margin-right: auto;
  }

  #newsletter > .container {
    width: 100%;
  }
  #newsletter > .container > h1 {
    margin-right: auto;
    width: 35ch;
  }
  #newsletter > .container > form > input {
    height: 2rem;
    width: 20rem;
    font-size: 1rem;
  }
  #newsletter > .container > form > button {
    width: 10rem;
    font-size: 1.125rem;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  footer > .branding {
    flex-basis: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  footer > .branding > h1 {
    align-self: flex-start;
    margin-bottom: 75%;
  }
  #contact {
    flex-basis: 25%;
  }
  #follow {
    flex-basis: 25%;
    margin-left: auto;
  }
  #learn-more {
    flex-basis: 35%;
    translate: 85% 0;
  }
  footer > .stop {
    margin-right: 5rem;
  }
}

@media only screen and (min-width: 1000px) {
  #intro > .container {
    width: 40%;
    padding: 2rem;
    margin: 0;
    margin-top: 25%;
    margin-left: 25%;
  }
  #intro > .container > h3 {
    translate: -10rem -2.5rem;
  }
  #intro > .container > p {
    width: 25ch;
    text-align: left;
  }
  #mission {
    padding: 10rem;
  }
  #mission > .container > p {
    width: 65ch;
    text-align: left;
  }

  #mission > .motto > .box {
    flex-basis: 25%;
  }

  #team {
    padding: 5rem;
  }
  #team > .container {
    padding: 1rem;
  }
  #team > .container > h3 {
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
  }
  #team > .container > h4 {
    text-align: left;
    font-size: 1.5rem;
    translate: -19.5rem 2rem;
  }
  #team > .container > p {
    text-align: left;
    font-size: 1rem;
  }
  .team-members > .box {
    flex-basis: 33.33%;
  }
  .team-members > .box > div {
    translate: 0.5rem -1rem;
    width: 65%;
  }
  .impact-numbers > .box {
    flex-basis: 20%;
    margin-right: 1.1rem;
  }
  #newsletter {
    height: 5rem;
  }
  #newlsetter > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #newsletter > .container > h1 {
    width: 30ch;
    margin: 0;
    align-self: center;
    margin-right: auto;
    translate: 0 2rem;
  }
  #newsletter > .container > form {
    margin-left: auto;
    /* align-self: center; */
    translate: 0 -2rem;
  }
  #newsletter > .container > form > input {
  }
  #newsletter > .container > form > button {
    width: auto;
  }

  footer > .branding {
    flex-basis: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  footer > .branding > h1 {
    align-self: flex-start;
    margin-bottom: 75%;
  }
  #contact {
    flex-basis: 10%;
  }
  #follow {
    flex-basis: 10%;
  }
  #learn-more {
    flex-basis: 10%;
    /* translate: 0.15% 0; */
  }
}
