html {
  width: 100vw;
  height: 100vh;
}
body {
  width: inherit;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

/* GLOBAL  */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-rnd {
  width: 312px;
  height: 40px;
  /* UI Properties */
  background: #c1f7d5;
  border-radius: 100px;
  border: none;
}

.btn-text {
  font-weight: bold;
  font-size: 1.125rem;
  color: #354463;
}

.stop {
  font-family: flood-std, sans-serif;
}
.stop > h1 {
  font-weight: lighter;
  width: 10ch;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: auto;
  align-self: center;
  padding-bottom: 1rem;
}
.container > h3 {
  padding: 0.5rem 1rem;
  background-color: #354463;
  color: #fff;
  font-weight: lighter;
  margin: 0;
  translate: 0 -1rem;
}
.container > h4 {
  color: #354463;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}
.container > p {
  width: 17ch;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #354463;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 1rem;
}

.box > h4 {
  margin: 0;
  font-size: 0.8rem;
  color: #fff;
}

.box > p {
  margin: 0;
  margin-top: 1rem;
  color: #fff;
  font-size: 0.6rem;
  width: 18ch;
}

.box > img {
  height: 50%;
  width: 25%;
  margin: 0.5rem 0;
}

/* HEADER SECTION STARTS HERE  */

header {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.branding {
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.branding > h1 {
  font-size: 1.125rem;
  color: #354463;
  width: 13ch;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  margin-bottom: 0.75rem;
}

nav > ul > li > a {
  color: #354463;
  text-decoration: none;
}

* {
  outline: 1px solid red;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
}

.branding {
  color: #354463;
  font-size: 0.625rem;
}

.branding > h1 {
  width: 13ch;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1.5rem;
  background: #c1f7d5;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  color: #354463;
}

/* header section */
header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.left-head {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.right-head {
  flex-grow: 1;
}

.left-head > .branding {
  flex-grow: 1;
}
.left-head > nav {
  flex-grow: 1;
  align-self: flex-end;
}

.right-head > button {
  width: 100%;
}

.left-head > nav > ul > li {
  text-align: right;
}
.left-head > nav > ul > li > a {
  text-decoration: none;
  line-height: 1.75rem;
  color: #354463;
}

/* main section starts here  */
main {
}

/* intro  */
#intro {
  background: url("../assets/about-us/annie-spratt-427339-unsplash.png")
    no-repeat;
  background-color: #354463;
  opacity: 1;
  background-size: cover;
  background-position: -29rem;
  display: flex;
  flex-direction: column;
  height: 600px;
}
#intro > .stop {
  margin: 1.5rem 1rem;
  color: #fff;
}

#intro > .container {
  margin-top: 8rem;
  background-color: #fff;
}

/* mission section starts here  */
#mission {
  padding: 2rem;
  background-color: #354463;
}

#mission > .container > h3 {
  background-color: #fff;
  color: #354463;
}

#mission > .container > p {
  color: #fff;
  width: 29ch;
}
.motto {
  display: flex;
  flex-wrap: wrap;
}

#team {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#team > .container > p {
  font-size: 0.75rem;
  width: 35ch;
  margin-top: 1rem;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: auto;
}
.team-members > .box {
  margin: 0;
  background-color: #354463;
}
.team-members > .box > img {
  height: 9rem;
  width: auto;
  margin: 0;
}

.box > div {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.box > div > h3 {
  margin: 0;
  font-size: 0.8rem;
  /* color: #fff; */
  width: 15ch;
  margin-bottom: 0.5rem;
}

/* impact section starts here  */
#impact {
  padding: 3rem;
  background: url("../assets/about-us/Impact\ Background.png") no-repeat;
  background-color: #354463;
  background-size: cover;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#impact > .container > h3 {
  background-color: #fff;
  color: #354463;
}

#impact > .container > p {
  color: #fff;
  width: 30ch;
}

.impact-numbers > .box > h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  font-weight: lighter;
}
.impact-numbers > .box > p {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
}

/* action section starts here  */

#action {
  padding: 2rem;
  background-color: #354463;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#action > h1 {
  color: #fff;
  font-weight: lighter;
  text-align: center;
  width: 13ch;
  font-size: 2.5rem;
  margin-bottom: 7.5rem;
}

#action > .container {
  background-color: #fff;
}
#action > .container > .bg-image {
  width: 100%;
  height: 14rem;
  background: url("../assets/about-us/Image.png") no-repeat;
  background-size: cover;
  translate: 0 -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#action > .container > .bg-image > h3 {
  background: #fff;
  color: #354463;
  padding: 0.5rem 2rem;
  width: 5ch;
  font-weight: lighter;
  font-size: 1rem;
  translate: 0 -2rem;
}
#action > .container > h2 {
  text-align: center;
  color: #354463;
  width: 20ch;
  margin-top: 0;
}
#action > .container > p {
  text-align: center;
  color: #354463;
  font-size: 1rem;
  width: 23ch;
  font-weight: lighter;
}
#action > .container > button {
  width: 50%;
  color: #354463;
  font-weight: bold;
  margin-top: 1.5rem;
}

/* newsletter starts here  */
#newsletter {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #c1f7d5;
}

#newsletter > .container > h1 {
  color: #354463;
  width: 26ch;
  font-size: 1.3rem;
}
.container > form {
  display: flex;
}

.container > form > input {
  border-radius: 100px;
  border: none;
  margin-right: 1rem;
  padding: 0 0.75rem;
}

.container > form > button {
  width: auto;
  background-color: #354463;
  color: #c1f7d5;
  font-weight: bold;
  padding: 0 1rem;
  font-size: 0.75rem;
}

/* footer starts here  */

footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5rem;
  color: #354463;
}

footer > .branding {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

footer > .branding > h1 {
}

#contact {
  flex-basis: 50%;
}
#contact > h4 {
  margin: 0;
}
#contact > p {
  margin: 0;
  width: 16ch;
}

#follow {
  flex-basis: 50%;
}
#follow > h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

#learn-more {
  flex-basis: 50%;
}

#learn-more > h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
ul > li > a {
  color: #354463;
}

footer > .stop {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
  line-height: 2.5rem;
}
